.sidebarOptions{
     display:flex;
    align-items: center;
    /* margin-left: 50px;*/
    padding: 15px 0px 15px 0px; 
    cursor: pointer;
}

.sidebarOptions .MuiSvgIcon-root{
      /* padding: 10px 15px; */
      padding: 1px 3px;
}

.sidebarOptions:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: rgb(104, 227, 241);
    transition: color 100ms ease-out;
}

.sidebarOptions h2{
    font-weight: 600;
    font-size: 18px;
    margin-right: 20px;
}

.done_icon{
    color: rgb(104, 227, 241);
}

@media screen and (max-width:688px) {
    .sidebar_tweet{
    display: none;
    }
}